@page "/dbtest3"
@using blazorserversidetest3.Models
@using System.Linq;
@using Microsoft.EntityFrameworkCore;
@using System.Data
@using System.Data.SqlClient
@inject MyContext context



<h1>ストアドプロシージャ―テスト</h1>

<button class="btn btn-primary" @onclick="@sttest1">引数無し</button><br />
<br />
<input type="text" @bind="@id" /><br>
<button class="btn btn-primary" @onclick="@sttest2">引数あり</button><br />

<button class="btn btn-primary" @onclick="@sttest3">省略可能パラメータ</button><br />

<button class="btn btn-primary" @onclick="@sttest4">インサート</button><br />

<input type="text" @bind="@name" /><br>
<button class="btn btn-primary" @onclick="@sttest5">インサートパラメータあり</button><br />

<h1>Rawクエリー</h1>
<button class="btn btn-primary" @onclick="@sttest6">実行</button><br />
@code {
    int id = 0;
    string name = "ABCDE";
    void sttest1() {
        var booklist = context.Book.FromSqlRaw("proc1").ToList();
    }

    void sttest2() {
        var booklist = context.Book.FromSqlRaw($"proc2 {id}").ToList();
    }

    void sttest3() {
        var param2 = 0;
        var booklist = context.Book.FromSqlRaw($"proc3 @param2={param2}").ToList();
    }
    void sttest4() {
        var rowsAffected = context.Database.ExecuteSqlRaw("insert into Configs(Value) VALUES('test4')");
        // ExecuteSqlInterpolated
    }
    void sttest5() {
        // var rowsAffected = context.Database.ExecuteSqlRaw($"insert into Configs(Value) VALUES({name})");
        var rowsAffected = context.Database.ExecuteSqlInterpolated($"insert into Configs(Value) VALUES({name})");

    }
    void sttest6() {
        /*
        var booklist = context.Book.FromSqlRaw("proc1");
       
        foreach(var item in booklist)
        {
            Console.WriteLine(item.Id);
            Console.WriteLine(item.Title);
        }
        */
        /*
        dynamic booklist = context.Book.FromSqlRaw("select *,100 as Price from Configs").ToList();
        
        foreach(var item in booklist)
        {
            Console.WriteLine(item.Value);
        }
        */
        using (var command = context.Database.GetDbConnection().CreateCommand())
        {
            command.CommandText = "select *,100 as Price from Configs";
            context.Database.OpenConnection();
            using (var result = command.ExecuteReader())
            {
                // do something with result
                foreach(var item in result) {
                    // Console.WriteLine(item.Price);
                }
            }
        }
        
    }
    
}